/* @keyframes glowPulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 61, 166, 0.5);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(0, 61, 166, 0.8);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 5px rgba(0, 61, 166, 0.5);
    }
} */
.navList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    list-style: none;
}

.logoutButton{
    border-radius: 0.2rem;
    font-size: 0.9rem;
    padding: 9px 45px 9px 45px;
    background-color: #dc1c2d;
    color: white;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.logoutButton:hover {
    background-color: #dc1c2d;
    color: white;
    animation: none;
}

.header {
    width: 100%;
    padding: 1rem;
    background-color: #A9B8C6;
}

.Logo {
    width: 100%;
    height: auto;
}

